body {
    font-family: 'Segoe UI', sans-serif;
}

#chooseFavories {
    margin:0 0 0 25px;
}

#chooseFavories label {
    display:block;
}

.select-all{
    font-style:italic;
    margin-bottom:5px;
}


